<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/save" method="POST">
        <label for="title">Title: </label><br>
        <input type="text" name="title" autocomplete="off" value="<%=note.title%>"> <br> <br>
        <input type="text" readonly name="date" value="<%=note.date%>"> <br>
        <label for="link">Link:  </label><br>
        <input type="text" name="link" autocomplete="off" value="<%=note.links%>"> <br>
        <label for="description">Description: </label><br>
        <textarea name="description" style="resize:none" id="" cols="30" rows="10"><%=note.description%></textarea> <br>
        <label for="author">Author: </label><br>
        <input type="text" readonly name="author" autocomplete="off" value="<%=note.author%>"> <br>
        <input type="hidden" name="id" value="<%=note._id%>">
        <button type="submit">Update</button>
        </form>
        <form action="/edit/delete" method="POST">
        <input type="hidden" name="id" value="<%= note._id %>">
        <button type="submit">Delete</button>
        </form>
</body>
</html>