<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
     <!-- main page -->
    <%if(!logged){ %>
      <section class="main-page">
        <!-- left -->
        <%if(!logged) { %>
          <div class="left">
            <div class="left-content">
              <div>
                <i class="fa fa-search"></i>
                <h3 class="left-content-heading">Welcome to Coding Spiders App</h3>
              </div>
              <div>
                <i class="fa fa-users"></i>
                <h3 class="left-content-heading">Track your learning journey!</h3>
              </div>
              <div>
                <i class="fa fa-comment"></i>
                <h3 class="left-content-heading">Join the people</h3>
              </div>
            </div>
          </div>
       <% }%>
        
        <!--end of left-->
  
        <!--right-->
        <%if(!logged){%>
          <div class="right">
            <div class="bg-image"></div>
            <div class="middle-content">
                <h1>Track what you and your friends are learning online.</h1>
                <h4>Join Code Snipers today!</h4>
                <a href="/sign-up" class="sign-up">Sign Up</a>
                <a href="/login" class="log-in">Log In</a>
            </div>
        </div>
       <% } %>
    </section>
    <% }%>

       <%if(logged){ %>
        <div class="after-login">
          <h1>Welcome <%=author%> </h1>
          <p>Now you're logged in, you can add or edit your posts and see the others' </p>
          <a href="/logout">Logout</a><br>
          <a href="/create">Create a post</a>
          <a href="/user">See your posts</a>
        </div>
      <% }%>
        
        <!--end of right-->
      <!--end of main page-->
  
  
      <!--login page-->
      <section class="login-page">
        <!--nav-->
        <nav class="login-page-nav">
          <ul>
            <li class="brand"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Language: English</a></li>
          </ul>
        </nav>
        <!--end of nav-->
  
        <!--login-->
        <div class="login">
          <div class="login-content">
            <h2>Log in to Twitterr</h2>
            <form class="login-form">
              <input class="login-user-info" type="text" placeholder="Phone, Email or Username">
              <input class="login-password" type="password" placeholder="Password">
              <div>
                <a href="/login" class="login-form-btn">Log In</a>
                <input type="checkbox" class="login-form-checkbox" id="check">
                <label for="check">Remember me</label>
                <a href="#">Forgot Password?</a>
              </div>
            </form>
          </div>
          <footer class="login-footer">
            <p>New to Twitterr? <a href="/sign-up">Sign up now</a></p>
          </footer>
        </div>
        <!--end of login-->
  

          

  
      </section>
      <!--end of login page-->
    <!-- <nav>
        <div>
            <a href="/login">Login</a>
            <a href="/sign-up">Sign Up</a>
            <a href="/description">A</a>
        </div>
    </nav> -->
    <main>
      <%if(logged) { %>
        <div class="container">
            <% notes.forEach(note => { %>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h3><%=note.title%></h3>
                            <div class="content-desc">
                              <p><%=note.date%>></p>
                              <br><br/>
                              <p>posted by <%=note.author%>></p>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p><%=note.description%></p>
                                <a href="<%=note.links%>">Source</a>
                                <%if(author) { %>
                                    <% if(author == note.author) { %>
                                        <form action="/edit" method="GET">
                                        <input type="hidden" name="id" value="<%= note._id %>">
                                        <button type="submit">EDIT</button>
                                        </form>
                                   <% } %> 
                                   
                               <% } %>
                                
                        </div>
                    </div>
                  </div>
            <% }) %> 
          
        </div>
      <%}%>
        
    </main> 

  
      
  
</body>
</html>